@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script>
        window.setTimeout(function () {
            window.location.href = @Model.RedirectUrl;
        }, 5000);
    </script>
}

<div class="text-center">
    @if (Model.ShowMessage)
    {
        <p>
            @Model.Message
        </p>
    }
    @if (Model.ShowRedirectUrl)
    {
        <p>You will now be redirected to the following site.</p>
        <p><a href=@Model.RedirectUrl>@Model.RedirectUrl</a></p>
    }
</div>

