@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not collect any personal details. Any personal detail presented in the signin token are used only to enable
    the user, if authorized for external access in the inviting directory.</p>
